@{
    ViewBag.Title = "E2 Print - AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageMeta{
    <meta name="desciption" content="Banners, flag printing & pull up banners,Business cards & letterheads,Calendars, posters,Book publishing & binding,,Booklets, brochures, catalogs & flyers,Bulk printing,Car stickers,Canvas,Large format Printing,Signage & coreflute sign boards,Invitations in all themes,Pet or Human personalize magazing,Website Design " />
}
@section PageScripts{
    <script src="~/Scripts/Email.js"></script>
}

<div class="generalContent aboutUs">
    <h2>About Us</h2>
    <p>
        <b>E2Print</b> is a proudly New Zealand owned company that specializes in the provision of total print solutions for organizations of all sizes and across all sectors. 
        We offer a personalized service to meet our client’s needs and expectations. We’re open and happy to talk about budgeting and timeline options, and understand your needs as a business. 
        We work to preserve and reflect the nature of your business in our products. Whether it’s something ambitious in a wide print format, or something as small as a flyer, we can help you promote your brand and grab the attention of the customers you want!
    </p>
    <div style="display:inline-block;width:400px; vertical-align:top;">
        <b>We do:</b>  <br>** Banners, flag printing &amp; pull up banners  <br>** Book publishing &amp; binding  <br>** Booklets, brochures, catalogs &amp; flyers  <br>** Bulk printing  <br>** Business cards &amp; letterheads  <br>** Calendars, posters  <br>** Car stickers <br>** Canvas  <br>** Fine Art  <br>** Large format Printing <br>** Signage &amp; coreflute sign boards  <br>** Docket books &amp; invoice books  <br>** Invitations in all themes <br>** Pet or Human personalize magazing <br>** Website Design <br>  
        <br />
    </div>
    <div style="display:inline-block; vertical-align:top;">
        <b>Why choose us?</b> <br>- 100% Money back Guarantee if we cannot make you satisfy <br>- No job is too small  <br>- Our service &amp; product are competitive, you paid what you got!  <br>
        <br />
    </div>
    <div>
        <br>Everything at E2Print is done in-store, which means that we can pass the time and money saving on to our customers! We import our own paper, have our own designers, and own high-tech printing machinery.
        Get in touch today to discuss what we can do for you! <br>
    </div>
</div>
