@{
    ViewBag.Title = "E2 Print - AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-wrapper about-us">

    <!-- ====================================
    ———	PAGE TITLE
    ===================================== -->
    <section class="page-title">
        <div class="page-title-img bg-img bg-overlay-darken" style="background-image: url(~/assets/img/pages/page-title-bg.jpg);">
            <div class="container">
                <div class="row align-items-center justify-content-center" style="height: 200px;">
                    <div class="col-lg-6">
                        <div class="page-title-content">
                            <div class="title-border">
                                <h2 class="text-uppercase text-white font-weight-bold">About us</h2>
                            </div>
                            <p class="text-white mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ====================================
    ———	ABOUT TITLE SECTION
    ===================================== -->
    <section class="py-8 py-md-10">
        <div class="container">
            <div class="text-left border-bottom pb-6 mb-7">
                <p class="text-capitalize line-height-24 h4 mb-5" style="color:#212529">
                    E2Creation is a proudly New Zealand owned company that specializes in the provision of total print solutions for organizations of all sizes and across all sectors. 
                </p>
                <p style="color:#212529">
                    We offer a personalized service to meet our client’s needs and expectations. We’re open and happy to talk about budgeting and timeline options, and understand your needs as a business. We work to preserve and reflect the nature of your business in our products. Whether it’s something ambitious in a wide print format, or something as small as a flyer, we can help you promote your brand and grab the attention of the customers you want!
                </p>
                <p style="color:#212529">
                    We do:
                    * Banners, flag printing & pull up banners<br />
                    * Book publishing & binding<br />
                    * Booklets, brochures, catalogues & flyers<br />
                    * Bulk printing<br />
                    * Business cards & letterheads<br />
                    * Calendars, posters<br />
                    * Car stickers<br />
                    * Canvas<br />
                    * Fine Art<br />
                    * Screen print<br />
                    * Large format Printing<br />
                    * Signage & corflute sign boards<br />
                    * Docket books & invoice books<br />
                    * Invitations in all themes<br />
                    * Pet or Human personalize magazine<br />
                    * Website Design<br />
                </p>
                <p style="color:#212529">
                    Why choose us?
                    - 100% Money back Guarantee if we cannot make you satisfy
                    - No job is too small
                    - Our service & product are competitive, you paid what you got!
                </p>
                <p style="color:#212529">
                    Everything at E2Creation is done in-store, which means that we can pass the time and money saving on to our customers! We import our own paper, have our own designers, and own high-tech printing machinery. Get in touch today to discuss what we can do for you!
                </p>
            </div>
        </div>
    </section>

</div><!-- element wrapper ends -->