@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <header class="header" id="pageTop">
        <!-- Menu Zord -->
        <nav class="nav-menuzord navbar-sticky">
            <div class="container clearfix">
                <div id="menuzord" class="menuzord">
                    <a href="/Home" class="menuzord-brand">
                        <img src="~/assets/img/logo1.png" style="height:54px;width:auto">
                    </a>

                    <div class="nav-item dropdown nav-item-left mr-0">
                        <a href="javascript:void(0)" class="btn btn-xs btn-primary d-none d-lg-inline-block" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-search mr-0" aria-hidden="true"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right rounded-0">
                            <form class="" action="index.html" method="post">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm rounded-0" required="" placeholder="Search....">
                                    <div class="input-group-append">
                                        <button class="input-group-text border-0 rounded-0 btn bg-primary" type="submit">
                                            <span class="text-white text-uppercase font-weight-bold">Search</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <ul class="menuzord-menu menuzord-right">
                        <li class="">
                            <a class="" href="/Home">Home</a>
                        </li>

                        <li class="">
                            <a href="javascript:void(0)">Products</a>
                            <div class="megamenu drop-up">
                                <div class="megamenu-row">
                                    @{int columnCount = 0;}
                                    @foreach (E2Print.Domain.Entities.Category cat in (List<E2Print.Domain.Entities.Category>)ViewData["Categories"])
                                    {
                                        if (columnCount == 0 || columnCount == 4)
                                        {
                                            <div class="col3">
                                                <ul class="list-unstyled">
                                                    <li>@cat.Name</li>
                                                    @foreach (E2Print.Domain.Entities.Category subCat in cat.SubCategories)
                                                    {
                                                        <li><a href="/Category/Detail/@subCat.Id">@subCat.Name</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col2">
                                                <ul class="list-unstyled">
                                                    <li>@cat.Name</li>
                                                    @foreach (E2Print.Domain.Entities.Category subCat in cat.SubCategories)
                                                    {
                                                        <li><a href="/Category/Detail/@subCat.Id">@subCat.Name</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                        columnCount++;
                                    }
                                </div>
                            </div>
                        </li>

                        <li class="">
                            <a href="/Home/AboutUs">About Us</a>
                        </li>

                        <li class="active">
                            <a href="/Home/ContactUs">Contact Us</a>
                        </li>

                        <li class="py-4">
                            <form class="d-lg-none" action="index.html" method="post">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control form-control-sm rounded-0" required="" placeholder="Search....">
                                    <div class="input-group-append">
                                        <button class="input-group-text border-0 rounded-0 btn bg-primary" type="submit">
                                            <span class="text-white text-uppercase font-weight-bold">Search</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div class="main-wrapper contact-us">

    <!-- ====================================
    ———	PAGE TITLE
    ===================================== -->
    <section class="page-title">
        <div class="page-title-img bg-img bg-overlay-darken" style="background-image: url(assets/img/pages/page-title-bg5.jpg);">
            <div class="container">
                <div class="row align-items-center justify-content-center" style="height: 200px;">
                    <div class="col-lg-6">
                        <div class="page-title-content">
                            <div class="title-border">
                                <h2 class="text-uppercase text-white font-weight-bold">contact us</h2>
                            </div>
                            <p class="text-white mb-0"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ====================================
    ———	CONTACT INFO SECTION
    ===================================== -->
    <section class="py-9 pt-md-10">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-5 col-xl-4">
                    <div class="contact-info">
                        <h2 class="text-uppercase font-weight-bold">get in touch</h2>
                        <p class="mt-2">&nbsp;</p>
                    </div>

                    <div class="media mb-4">
                        <a href="" class="icon-contact-default bg-primary text-white mr-5">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="text-uppercase font-weight-medium">Address</h4>
                            698E Great South Rd, Penrose, Auckland,  New Zealand
                        </div>
                    </div>

                    <div class="media mb-4">
                        <a href="" class="icon-contact-default bg-primary text-white mr-5">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </a>

                        <div class="media-body">
                            <h4 class="text-uppercase font-weight-medium">Phone number</h4>
                            <div class="">
                                (09) 525 5585
                            </div>
                        </div>
                    </div>

                    <div class="media mb-6 mb-md-0">
                        <a href="" class="icon-contact-default bg-primary text-white mr-5">
                            <i class="fa fa-clock" aria-hidden="true"></i>
                        </a>
                        <div class="media-body">
                            <h4 class="text-uppercase font-weight-medium">Openning hours</h4>
                            <div class="">
                                Mon - Fri 8:30am to 5:30pm<br />
                                Sat & Sun (by appointment)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-7 col-xl-8">
                    <form action="" method="POST" role="form" class="form">
                        <div class="form-group">
                            <input type="text" class="form-control border-0 bg-smoke" required="" placeholder="Your Name">
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control border-0 bg-smoke" placeholder="Your Email">
                        </div>

                        <div class="form-group">
                            <input type="number" class="form-control border-0 bg-smoke" placeholder="Your Phone">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control border-0 bg-smoke" rows="6" placeholder="Your Message"></textarea>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary text-uppercase">send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="" id="map" style="width:100%; height:555px;"></div>
    </section>


</div><!-- element wrapper ends -->