
@{
    ViewBag.Title = "Equipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section pageMeta{
    <meta name="desciption" content="Banners, flag printing & pull up banners,Business cards & letterheads,Calendars, posters,Book publishing & binding,,Booklets, brochures, catalogs & flyers,Bulk printing,Car stickers,Canvas,Large format Printing,Signage & coreflute sign boards,Invitations in all themes,Pet or Human personalize magazing,Website Design " />
}

@section PageScripts{
}

<div class="container">
    <h2>Our Equipments</h2>
    <p>
        <img src="~/Content/Images/q.jpg" style=""/><br />
        <h3>HP Latex 330</h3>
        <ul>
            <li>HP Latex Inks</li>
            <li>Up to 1200 x 1200 dpi resolution</li>
            <li>7 ink cartridges</li>
            <li>Applications: Banners, Displays, Exhibition, Event graphics, Exterior signage, Indoor posters, Interior decoration, Light boxes – film, Light boxes – paper, Murals, POP/POS, Posters, Vehicle graphics.</li>
        </ul>
    </p><br />
    <p>
        <img src="~/Content/Images/w.jpg" /><br />
        <h3>Roland Versa Express RF-640</h3>
        <ul>
            <li>Roland ECO-SOL MAX 2 440-cc cartridge</li>
            <li>Up to 1,440 dpi resolution</li>
            <li>Four colors (cyan,magenta,yellow,and black)</li>
            <li>Applications: Banners, Displays, Exhibition, Event graphics, Exterior signage, Indoor posters, Interior decoration, Light boxes – film, Light boxes – paper, Murals, POP/POS, Posters, Vehicle graphics.</li>
        </ul>
    </p><br />
    <p>
        <img src="~/Content/Images/e.jpg" /><br />
        <h3>Canon C9065 Pro</h3>
        <ul>
            <li>
                <b>Reading</b> 600dpi x 600dpi<br />
                <b>Copying</b> 600dpi x 600dpi<br />
                <b>Printing</b> 1200dpi x 1200dpi 256 Gradations
            </li>
            <li>
                <b>Maximum Original Size</b><br />
                SRA3 (320 x 450mm)<br /><br />
            </li>
            <li>
                <b>Stack Bypass</b><br />
                A5R-SRA3 (320 x 450mm), 13"x19"(330 x 483mm<br />
                Free size 100 x 148mm to 330.2 x 487.7mm<br />
                Envelopes (DL, ISO-B5, ISO-C5)<br />
            </li>
            <li>
                <b>Applications</b><br />
                Business cards, Invitation cards, Envelop, Letter head, all small printing.
            </li>
        </ul>
    </p><br />
    <p>
        <img src="~/Content/Images/r.jpg" /><br />
        <h3>Perfect Binding Machine</h3>
        <ul>
            <li>Max. Width: 420mm (A3)</li>
            <li>Max. Thickness: 600mm</li>
            <li>Speed: 300 books/Hour</li>
        </ul>
    </p>
    
</div>


