@using E2Print.Domain.Entities;

@model E2Print.WebUI.Models.HomeViewModel

@section pageMeta{
    <meta name="desciption" content="Banners, flag printing & pull up banners,Business cards & letterheads,Calendars, posters,Book publishing & binding,,Booklets, brochures, catalogs & flyers,Bulk printing,Car stickers,Canvas,Large format Printing,Signage & coreflute sign boards,Invitations in all themes,Pet or Human personalize magazing,Website Design " />
}
@section pageStyles{
    <style type="text/css">
        #deviderOne,#deviderTwo {
            text-align: center;
            height: 15px;
            background-color:#ec2029;
            margin-top:20px;
        }
        #deviderTwo {
            background-color: #303030;
            margin: 0;
            -webkit-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.75);
            box-shadow: 0px 6px 10px 0px rgba(50, 50, 50, 0.75);
        }
        #deviderOne img,#deviderTwo img{height:100%;
                        vertical-align: top;
        }

        #aboutWapper {
            padding:20px 0;
            background-color: #e7e7e7;
        }

        /* RESPONSIVE CSS
                -------------------------------------------------- */
        /*Extra small devices (portrait phones, less than 576px) */
        /* No media query since this is the default in Bootstrap*/

        /*Small devices (landscape phones, 576px and up)*/
        @@media (min-width: 576px) {

            #deviderOne, #deviderTwo{
                height: 25px;
            }
        }

        /*Medium devices (tablets, 768px and up)*/
        @@media (min-width: 768px) {
        }

        /*Large devices (desktops, 992px and up)*/
        @@media (min-width: 992px) {
        }

        /*Extra large devices (large desktops, 1200px and up)*/
        @@media (min-width: 1200px) {
        }
    </style>
}
<div class="container">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-6 col-lg">
            <img src="~/Content/Images/02-01.jpg" class="titleImage" width="100%" />
            <img src="~/Content/Images/07-01.jpg" class="hidden-xs-down" width="100%" />
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-6 col-lg">
            <img src="~/Content/Images/03-01.jpg" class="titleImage" width="100%" />
            <img src="~/Content/Images/08-01.jpg" class="hidden-xs-down" width="100%" />
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-6 col-lg">
            <img src="~/Content/Images/04-01.jpg" class="titleImage" width="100%" />
            <img src="~/Content/Images/09-01.jpg" class="hidden-xs-down" width="100%" />
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-6 col-lg">
            <img src="~/Content/Images/05-01.jpg" class="titleImage" width="100%" />
            <img src="~/Content/Images/10-01.jpg" class="hidden-xs-down" width="100%" />
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
        <div class="col-6 col-lg">
            <img src="~/Content/Images/06-01.jpg" class="titleImage" width="100%" />
            <img src="~/Content/Images/11-01.jpg" class="hidden-xs-down" width="100%" />
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
        </div>
    </div>

</div>

<div id="deviderOne" class="container-fluid">
    <img src="~/Content/Images/17-01.jpg" />
</div>
<div id="aboutWapper">
    <div id="about" class="container">
        <h2>About Us</h2>
        <p>
            <b>E2Print</b> is a proudly New Zealand owned company that specializes in the provision of total print solutions for organizations of all sizes and across all sectors.
            We offer a personalized service to meet our client’s needs and expectations. We’re open and happy to talk about budgeting and timeline options, and understand your needs as a business.
            We work to preserve and reflect the nature of your business in our products. Whether it’s something ambitious in a wide print format, or something as small as a flyer, we can help you promote your brand and grab the attention of the customers you want!
        </p>
        <div style="display:inline-block;width:400px; vertical-align:top;">
            <b>We do:</b>  <br>** Banners, flag printing &amp; pull up banners  <br>** Book publishing &amp; binding  <br>** Booklets, brochures, catalogs &amp; flyers  <br>** Bulk printing  <br>** Business cards &amp; letterheads  <br>** Calendars, posters  <br>** Car stickers <br>** Canvas  <br>** Fine Art  <br>** Large format Printing <br>** Signage &amp; coreflute sign boards  <br>** Docket books &amp; invoice books  <br>** Invitations in all themes <br>** Pet or Human personalize magazing <br>** Website Design <br>
            <br />
        </div>
        <div style="display:inline-block; vertical-align:top;">
            <b>Why choose us?</b> <br>- 100% Money back Guarantee if we cannot make you satisfy <br>- No job is too small  <br>- Our service &amp; product are competitive, you paid what you got!  <br>
            <br />
        </div>
        <div>
            <br>Everything at E2Print is done in-store, which means that we can pass the time and money saving on to our customers! We import our own paper, have our own designers, and own high-tech printing machinery.
            Get in touch today to discuss what we can do for you! <br>
        </div>

    </div>
</div>

@section pageScripts{
}