@using E2Print.Domain.Entities;

@model E2Print.WebUI.Models.HomeViewModel

@section pageMeta{
    <meta name="desciption" content="Banners, flag printing & pull up banners,Business cards & letterheads,Calendars, posters,Book publishing & binding,,Booklets, brochures, catalogs & flyers,Bulk printing,Car stickers,Canvas,Large format Printing,Signage & coreflute sign boards,Invitations in all themes,Pet or Human personalize magazing,Website Design " />
}
@section pageStyles{
    <style type="text/css">
        #aboutWapper {
            padding: 20px 0;
            background-color: #e7e7e7;
        }

        ul {
            margin: 0;
            margin-top: 5px;
            margin-left: -10px;
            padding: 0;
        }

        li {
            list-style: none;
            color: black;
        }

            li a, li a:hover {
                text-decoration: none;
                color: black;
                font-size: 0.8rem;
            }

            
#map{
    width:100%;
    height:365px;
    border:1px solid #dddddd;
    margin-bottom:10px;
}
    </style>
}
<div class="container">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-6 col-lg">
            <div class="row">
                <div class="col">
                    <img src="~/Content/Images/02-01.jpg" class="titleImage" width="100%" />
                    <img src="~/Content/Images/07-01.jpg" class="hidden-xs-down" width="100%" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <img src="~/Content/Images/12-01.jpg" style="width: 14px;" />
                </div>
                <div class="col-10">
                    <ul>
                        <li><a href="/Category/Detail/2028">Calendars</a></li>
                        <li><a href="/Category/Detail/2038">Car Magnet</a></li>
                        <li><a href="/Category/Detail/2048">Car Number Plate Frame</a></li>
                        <li><a href="/Category/Detail/2054">Car Wrap</a></li>
                        <li><a href="/Category/Detail/2044">Clothes &amp; Caps Print</a></li>
                        <li><a href="/Category/Detail/2036">Custome Sticker</a></li>
                        <li><a href="/Category/Detail/2035">Magazine in all Theme</a></li>
                        <li><a href="/Category/Detail/2043">USB Flash Drives</a></li>
                        <li><a href="/Category/Detail/2037">Window Vision</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg">
            <div class="row">
                <div class="col">
                    <img src="~/Content/Images/03-01.jpg" class="titleImage" width="100%" />
                    <img src="~/Content/Images/08-01.jpg" class="hidden-xs-down" width="100%" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <img src="~/Content/Images/13-01.jpg" style="width: 14px;" />
                </div>
                <div class="col-10">
                    <ul>
                        <li><a href="/Category/Detail/2025">Application form</a></li>
                        <li><a href="/Category/Detail/2026">Booklets</a></li>
                        <li><a href="/Category/Detail/2033">Brochure</a></li>
                        <li><a href="/Category/Detail/2027">Business Cards</a></li>
                        <li><a href="/Category/Detail/2031">Envelopes - Printed</a></li>
                        <li><a href="/Category/Detail/2029">Flyers</a></li>
                        <li><a href="/Category/Detail/2039">Invitation in all Theme</a></li>
                        <li><a href="/Category/Detail/2030">Magnets - printed</a></li>
                        <li><a href="/Category/Detail/2032">Notepads</a></li>
                        <li><a href="/Category/Detail/2034">Sticky label</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg">
            <div class="row">
                <div class="col">
                    <img src="~/Content/Images/04-01.jpg" class="titleImage" width="100%" />
                    <img src="~/Content/Images/09-01.jpg" class="hidden-xs-down" width="100%" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <img src="~/Content/Images/14-01.jpg" style="width: 14px;" />
                </div>
                <div class="col-10">
                    <ul>
                        <li><a href="/Category/Detail/2049">3D Letters / CNC Router</a></li>
                        <li><a href="/Category/Detail/2046">ACM Board / Outdoor Sign</a></li>
                        <li><a href="/Category/Detail/2053">Acrylic Range</a></li>
                        <li><a href="/Category/Detail/2016">Canvas Prints</a></li>
                        <li><a href="/Category/Detail/2020">Corflute Signs</a></li>
                        <li><a href="/Category/Detail/2021">Flag</a></li>
                        <li><a href="/Category/Detail/2047">Foam Board / PVC Rigid Board</a></li>
                        <li><a href="/Category/Detail/2022">Foot Path Sign</a></li>
                        <li><a href="/Category/Detail/2045">Mesh Banner / Fence Wrap</a></li>
                        <li><a href="/Category/Detail/2019">Permanent Vinyl print</a></li>
                        @*<li><a href="/Category/Detail/2024">Posters</a></li>
                            <li><a href="/Category/Detail/2023">Roll up Banner</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg">
            <div class="row">
                <div class="col">
                    <img src="~/Content/Images/05-01.jpg" class="titleImage" width="100%" />
                    <img src="~/Content/Images/10-01.jpg" class="hidden-xs-down" width="100%" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <img src="~/Content/Images/15-01.jpg" style="width: 14px;" />
                </div>
                <div class="col-10">
                    <ul>
                        <li><a href="/Home/Equipment">HP Latex 330</a></li>
                        <li><a href="/Home/Equipment">Roland Versa Express RF-640</a></li>
                        <li><a href="/Home/Equipment">Canon C9065 Pro</a></li>
                        <li><a href="/Home/Equipment">Perfect Binding Machine</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg">
            <div class="row">
                <div class="col">
                    <img src="~/Content/Images/06-01.jpg" class="titleImage" width="100%" />
                    <img src="~/Content/Images/11-01.jpg" class="hidden-xs-down" width="100%" />
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <img src="~/Content/Images/16-01.jpg" style="width: 14px;" />
                </div>
                <div class="col-10">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deviderOne" class="container-fluid">
    <img src="~/Content/Images/17-01.jpg" />
</div>
<div id="aboutWapper">
    <div id="about" class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col">
                        <h2>About Us</h2>
                        <p>
                            <b>E2Print</b> is a proudly New Zealand owned company that specializes in the provision of total print solutions for organizations of all sizes and across all sectors.
                            We offer a personalized service to meet our client’s needs and expectations. We’re open and happy to talk about budgeting and timeline options, and understand your needs as a business.
                            We work to preserve and reflect the nature of your business in our products. Whether it’s something ambitious in a wide print format, or something as small as a flyer, we can help you promote your brand and grab the attention of the customers you want!
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <b>We do:</b>  <br>** Banners, flag printing &amp; pull up banners  <br>** Book publishing &amp; binding  <br>** Booklets, brochures, catalogs &amp; flyers  <br>** Bulk printing  <br>** Business cards &amp; letterheads  <br>** Calendars, posters  <br>** Car stickers <br>** Canvas  <br>** Fine Art  <br>** Large format Printing <br>** Signage &amp; coreflute sign boards  <br>** Docket books &amp; invoice books  <br>** Invitations in all themes <br>** Pet or Human personalize magazing <br>** Website Design <br>
                    </div>
                    <div class="col-lg-6">
                        <b>Why choose us?</b> <br>- 100% Money back Guarantee if we cannot make you satisfy <br>- No job is too small  <br>- Our service &amp; product are competitive, you paid what you got!  <br>
                        <br />
                        <br>Everything at E2Print is done in-store, which means that we can pass the time and money saving on to our customers! We import our own paper, have our own designers, and own high-tech printing machinery.
                        Get in touch today to discuss what we can do for you! <br>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h2>Contact Us</h2>
                <div id="map"></div>
                <b>E2Print Penrose (HQ)</b>:
                <br />698E Great South Rd <br>Penrose <br>Auckland <br />Ph: (09) 525 5585<br />
                <b>Openning hours</b>: <br>Mon - Fri 9:30 to 5:30 <br>Sat &amp; Sun (by appointment)
            </div>
            <div class="col-lg-3">
                <b>Send us a message</b><br />
                Your email<input class="email-userEmail" style="width:100%;"/><br/>
                Your phone number <input class="email-userCellphone" style="width:100%;"/><br />
                Message<br /><textarea class="email-content" style="width:100%;"></textarea><br />

                <button class="email-send">Send</button>
                <button class="email-cancel">Cancel</button>
                <span class="email-sending" style="display:none;">&nbsp;<b>Sending email ...</b></span>
            </div>
        </div>
    </div>
</div>

@section pageScripts{
    <script src="~/Scripts/Email.js"></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuD3x08N6lgwrgm6c1HY5GmWcwGZHN11M&callback=initMap">
</script>
}