@using E2Print.Domain.Entities;

@model E2Print.WebUI.Models.HomeViewModel

@section pageMeta{
    <meta name="desciption" content="Banners, flag printing & pull up banners,Business cards & letterheads,Calendars, posters,Book publishing & binding,,Booklets, brochures, catalogs & flyers,Bulk printing,Car stickers,Canvas,Large format Printing,Signage & coreflute sign boards,Invitations in all themes,Pet or Human personalize magazing,Website Design " />
}
@section pageStyles{
    <link href="~/Content/WOWSlider/engine1/style.css" rel="stylesheet" />
}
<div class="container" style="margin:30px 0px;z-index:0;">
</div>
<div class="container category-group">
</div>
}
@section pageScripts{
}