
@{
    ViewBag.Title = "SignUpSucceeded";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="generalContent">
    <h2>SignUpSucceeded</h2>

    <h3>You customer id is @ViewBag.NewCustomerId</h3>
    <h3>You will be redirected<span class="redirect-countdown"></span></h3>
</div>

