@import url(http://weloveiconfonts.com/api/?family=entypo|zocial|fontawesome);

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
    font-family: 'zocial', sans-serif;
}

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: url(Images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



body {
    padding-top: 0px;
    padding-bottom: 20px;
    margin: 0px;
    height:100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom:100px;
}

.container {
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

a {
    cursor: pointer;
        color: #ddd;
        text-decoration: none;
}

    a.light:link, a.light:visited {
        color: #ddd;
        text-decoration: none;
    }

    a.light:hover {
        color: #fff;
        text-decoration: none;
    }

    a.dark, a.dark:visited {
        color: #000;
        text-decoration: none;
    }

    a.dark:hover {
        color: #666;
        text-decoration: none;
    }

/*Buttons*/

button {
    cursor: pointer; /*forces the cursor to change to a hand when the button is hovered*/
    padding: 5px 25px; /*add some padding to the inside of the button*/
    background: #35b128; /*the colour of the button*/
    border: 1px solid #33842a; /*required or the default border for the browser will appear*/
    /*give the button curved corners, alter the size as required*/
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    /*give the button a drop shadow*/
    /*-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
box-shadow: 0 0 4px rgba(0,0,0, .75);*/
    /*style the text*/
    color: #f3f3f3;
    font-size: 1.1em;
}
    /***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
    button:hover, button:focus {
        background-color: #399630; /*make the background a little darker*/
        /*reduce the drop shadow size to give a pushed button effect*/
        /*-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
box-shadow: 0 0 1px rgba(0,0,0, .75);*/
    }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


div.dataEntry-group {
    margin: 5px;
}
    div.dataEntry-group input {
        width: 150px;
        outline: none;
        border: 1px solid black;
        padding: 3px;
        height: 20px;
        font-size: 1.1em;
        font-weight:bold;
    }

.column-auto {
    display:block;
    float:left;
}

.column-medium {
    width: 500px;
    display: inline-block;
}
.column-small {
    width: 300px;
    display: inline-block;
}

.dataEntry-label {
    display: inline-block;
    width: 120px;
}

.row {
    display:block;
    line-height:32px; /* more about line height http://www.slideshare.net/maxdesign/line-height */

}
.inlineBlock{
    display:inline-block;
}
hr.solid {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #000, #000, #000);
    background-image: -moz-linear-gradient(left, #000, #000, #000);
    background-image: -ms-linear-gradient(left, #000, #000, #000);
    background-image: -o-linear-gradient(left, #000, #000, #000);
    margin: 15px 0px 15px 0px;
}

hr.dash {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    margin: 15px 0px 15px 0px;
}

.generalContent{ 
    padding:25px;
    background-color:#fff;
    margin-bottom:100px;
    min-height:600px;
}
/* =========== bread breadcrumb ========= */

div.breadcrumb{
    margin-bottom:10px;
    padding:5px;
    font-size:1.2em;
}
a.breadcrumb-other{
    color:#888;
    margin-right:10px;
}
    a.breadcrumb-other:hover {
        color: #000;
    }
.breadcrumb-delimiter{
    color:#aaa;
    margin-right:10px;
    font-weight:bold;
    font-size:1.2em
}
.breadcrumb-current{
    color:#1f232a;
    font-weight:bold;
}

/* =========== drop down list ========= */

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 200px;
    padding: 10px;

    /* Styles */
    background: #fff;
    /*border-radius: 7px;*/
    border: 1px solid rgba(0,0,0,0.15);
    /*box-shadow: 0 1px 1px rgba(50,50,50,0.1);*/
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #1f232a;
}

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #1f232a transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 140%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    transition: all 0.2s ease-in;
    margin:0px;
    padding:0px;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #1f232a;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border-radius: 0 0 7px 7px;
    border: none;
}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #efefef;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}